GA4_PROPERTY_ID=YOUR_PROPERTY_ID
GA4_CLIENT_ID=YOUR_CLIENT_ID
GA4_CLIENT_SECRET=YOUR_CLIENT_SECRET
GA4_REFRESH_TOKEN=YOUR_REFRESH_TOKEN
GA4_ACCESS_TOKEN=YOUR_ACCESS_TOKEN
GA4_START_DATE=2025-01-01
GA4_END_DATE=2025-01-02
